* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    color: #851143;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: default;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 1.5em;
    margin: 1em 0;
    color: #000344;
    text-shadow: 0.2rem 0.2rem 0.2rem #e9c3d3;
}

.delimeter {
    border-top: 0.0625rem solid #db5e5e;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.item__icon {
    font-size: 1.5em;
    transition: all 0.5s;
}

.item__img {
    width: 90%;
    height: 0;
    margin: 0 auto;
    transition: transform 1s;
    transform: scale(0.9);
}

#controls-1:checked~.item--1 .item__icon,
#controls-2:checked~.item--2 .item__icon,
#controls-3:checked~.item--3 .item__icon,
#controls-4:checked~.item--4 .item__icon,
#controls-5:checked~.item--5 .item__icon {
    transform: rotate(45deg);
}

#controls-1:checked~.item--1 .item__text,
#controls-2:checked~.item--2 .item__text,
#controls-3:checked~.item--3 .item__text,
#controls-4:checked~.item--4 .item__text,
#controls-5:checked~.item--5 .item__text {
    color: #000344;
    text-shadow: 0.125rem 0.125rem 0.125rem #FFFFFF;
}

#controls-1:checked~.item--1 .item__img,
#controls-2:checked~.item--2 .item__img,
#controls-3:checked~.item--3 .item__img,
#controls-4:checked~.item--4 .item__img,
#controls-5:checked~.item--5 .item__img {
    height: auto;
    transform: scale(1);
}

@media screen and (min-width: 820px) {
    body {
        font-size: 1.25rem;
    }

    .item__img {
        width: 70%;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 1.5rem;
    }

    .item__img {
        width: 50%;
    }
}

@media (hover: hover) and (min-width: 820px) {
    .item {
        cursor: pointer;
    }

    .bayan .item__icon {
        opacity: 0;
    }

    .bayan:hover .item__icon {
        opacity: 1;
    }

    .bayan:hover .item__text {
        color: #000344;
        text-shadow: 0.125rem 0.125rem 0.125rem #FFFFFF;
    }

    .item:hover .item__icon {
        transform: rotate(45deg);
    }

    .item:hover .item__img {
        height: auto;
        transform: scale(1);
    }

    .item:active .item__text {
        color: #851143;
        text-shadow: none;
    }
}