* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    color: #851143;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 1.5em;
    margin: 1rem 0;
    color: #000344;
}

.delimeter {
    border-top: 1px solid #db5e5e;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.item__info {
    display: flex;
    justify-content: space-between;
}

.item__icon {
    font-size: 2em;
    transition: all 0.5s;
}

.item__img {
    width: 50%;
    height: 0;
    margin: 0 auto;
    transition: all 2s;
    transform: scale(0.8);
    opacity: 0;
}

#controls-1:checked~.item--1 .item__icon,
#controls-2:checked~.item--2 .item__icon,
#controls-3:checked~.item--3 .item__icon,
#controls-4:checked~.item--4 .item__icon,
#controls-5:checked~.item--5 .item__icon {
    transform: rotate(45deg);
}

#controls-1:checked~.item--1 .item__text,
#controls-2:checked~.item--2 .item__text,
#controls-3:checked~.item--3 .item__text,
#controls-4:checked~.item--4 .item__text,
#controls-5:checked~.item--5 .item__text {
    color: #000344;
    text-shadow: 0.125rem 0.125rem 0.125rem #FFFFFF;
}

#controls-1:checked~.item--1 .item__img,
#controls-2:checked~.item--2 .item__img,
#controls-3:checked~.item--3 .item__img,
#controls-4:checked~.item--4 .item__img,
#controls-5:checked~.item--5 .item__img {
    height: 100%;
    transform: scale(1);
    opacity: 1;
}

